.safe {
  width: 1920px;
  height: 1080px;
  background: url(../images/back.png) no-repeat center top;
  position: relative;
}

.safe .topperback {
  background: linear-gradient(180deg, #112442 0%, rgba(17, 36, 66, 0) 100%);
  height: 320px;
  width: 1920px;
}

.safe .topperback .topbarcolor {
  background: #071744;
}

.safe .topperback .top {
  background: url(../images/titleback.png) no-repeat center top;
  height: 73px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.safe .topperback .top .topleft {
  padding-top: 19px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  color: #ffffff;
  width: 33%;
}

.safe .topperback .top .topleft .datetime {
  padding-left: 16px;
}

.safe .topperback .top .topleft .datetime .date {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}

.safe .topperback .top .topleft .datetime .time {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.safe .topperback .top .topleft .weather {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.safe .topperback .top .topleft .weather .weatherimg {
  width: 26px;
  height: 26px;
  padding-left: 60px;
}

.safe .topperback .top .topleft .weather .weathertext {
  padding-left: 8px;
}

.safe .topperback .top .topcenter {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 3.4px;
  background: linear-gradient(180deg, #d9e3eb 0%, #72befb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 34%;
  text-align: center;
}

.safe .topperback .top .centerright {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 33%;
}

.safe .topperback .top .centerright .userlogout {
  padding-right: 14px;
}

.safe .topperback .top .centerright .usertext {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  padding-right: 21px;
}

.safe .topperback .top .centerright .userimg {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  background: #193073;
  margin-right: 8px;
}

.safe .topperback .top .centerright .userimg img {
  padding-left: 7px;
  padding-top: 6px;
}

.safe .bottomback {
  background: linear-gradient(0deg, #112442 0%, rgba(17, 36, 66, 0) 100%);
  height: 320px;
  width: 1920px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.safe .bottomback .bottomconten {
  width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: flex-end;
}

.safe .bottomback .bottomconten .bottomconitem {
  height: 80px;
  width: 80px;
  padding-bottom: 4px;
  background: url(../images/downpartimgback.png) no-repeat center top;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.safe .bottomback .bottomconten .bottomconitemtext {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 0;
  text-align: center;
}

.safe .bottomback .bottomconten .botconitem1 {
  margin-bottom: -62px;
}

.safe .bottomback .bottomconten .botconitem2 {
  margin-bottom: -14px;
}

.safe .bottomback .bottomconten .botconitem3 {
  margin-bottom: 11px;
}

.safe .bottomback .bottomconten .botconitem4 {
  margin-bottom: 27px;
}

.safe .bottomback .bottomconten .botconitem5 {
  margin-bottom: 36px;
}

.safe .leftpart {
  position: absolute;
  left: 0px;
  top: 73px;
  width: 400px;
  height: 1007px;
  background: linear-gradient(90deg, #071744 0%, rgba(7, 23, 68, 0) 100%), linear-gradient(180deg, #061542 0%, rgba(0, 26, 102, 0.5) 100%);
  backdrop-filter: blur(2.5px);
  transition: all 0.2s;
}

.safe .leftpart .leftpartcon1 {
  height: 324px;
}

.safe .leftpart .leftpartcon1 .condetail {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.safe .leftpart .leftpartcon1 .condetail .condet {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.safe .leftpart .leftpartcon1 .condetail .condet .condetitem {
  width: 92px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.safe .leftpart .leftpartcon1 .condetail .condet .condetitem .condetitemtext1 {
  color: #4ad184;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.6px;
  padding-top: 16px;
}

.safe .leftpart .leftpartcon1 .condetail .condet .condetitem .condetitemtext2 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
  padding-top: 2px;
}

.safe .leftpart .leftpartcon1 .condetail .condet .condetdevidebar {
  width: 1px;
  height: 97px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 51.56%, rgba(255, 255, 255, 0) 100%);
}

.safe .leftpart .leftpartcon1 .condetail .condet2 {
  padding-top: 30px;
}

.safe .leftpart .leftpartcon2 {
  height: 330px;
}

.safe .leftpart .leftpartcon2 .condetail {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
}

.safe .leftpart .leftpartcon2 .condetail .condet {
  width: 50%;
}

.safe .leftpart .leftpartcon2 .condetail .condet .condettitle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.safe .leftpart .leftpartcon2 .condetail .condet .condettitle .titbar {
  width: 4px;
  height: 20px;
  background: #4399ff;
}

.safe .leftpart .leftpartcon2 .condetail .condet .condettitle .titname {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-left: 8px;
}

.safe .leftpart .leftpartcon2 .condetail .condet .condetimg {
  width: 80px;
  height: 80px;
  padding-top: 19px;
}

.safe .leftpart .leftpartcon2 .condetail .condet .condetitem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  padding-top: 12px;
}

.safe .leftpart .leftpartcon2 .condetail .condet .condetitem .itembar {
  width: 12px;
  height: 12px;
  border-radius: 4px;
}

.safe .leftpart .leftpartcon2 .condetail .condet .condetitem .itemname {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding-left: 8px;
}

.safe .leftpart .leftpartcon2 .condetail .condet .condetitem .itemdata {
  color: #4ad184;
  font-size: 14px;
  font-weight: 600;
  padding-left: 8px;
}

.safe .leftpart .leftpartcon2 .condetail .condet .condetitempt {
  padding-top: 8px;
}

.safe .leftpart .leftpartcon2 .condetail .condet1 {
  padding-left: 36px;
}

.safe .leftpart .leftpartcon2 .condetail .condet1 .itembar1 {
  background: #ff0099;
}

.safe .leftpart .leftpartcon2 .condetail .condet1 .itembar2 {
  background: #ff971e;
}

.safe .leftpart .leftpartcon2 .condetail .condet1 .itembar3 {
  background: #4399ff;
}

.safe .leftpart .leftpartcon2 .condetail .condet2 .itembar1 {
  background: #0047d0;
}

.safe .leftpart .leftpartcon2 .condetail .condet2 .itembar2 {
  background: #4ad184;
}

.safe .leftpart .leftpartcon2 .condetail .condet2 .itembar3 {
  background: #70a0ff;
}

.safe .leftpart .leftpartcon2 .condetail .condet2 .itembar4 {
  background: #0457f6;
}

.safe .leftpart .leftpartcon3 {
  height: 353px;
}

.safe .leftpart .leftpartcon3 .contitle {
  position: relative;
}

.safe .leftpart .leftpartcon3 .contitle .leftpart3switchbutton {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-end;
}

.safe .leftpart .leftpartcon3 .contitle .leftpart3switchbutton .switchtext {
  color: #4ad184;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  padding-right: 4px;
}

.safe .leftpart .leftpartcon3 .contitle .leftpart3switchbutton img {
  padding-right: 12px;
}

.safe .leftpart .leftpartcon3 .condetail {
  margin-top: 24px;
  margin-left: 16px;
  width: 369px;
  height: 40px;
  border-radius: 4px;
  background: linear-gradient(91deg, #013a87 0%, #015280 100%);
}

.safe .leftpart .leftpartcon3 .condetail .videotitle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.safe .leftpart .leftpartcon3 .condetail .videotitle .videotitlecon {
  text-align: center;
  width: 184px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.safe .leftpart .leftpartcon3 .condetail .videotitle .videotitlecon .videotitlecontext {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
}

.safe .leftpart .leftpartcon3 .condetail .videotitle .videotitlecon .videotitleconnum {
  padding-left: 8px;
}

.safe .leftpart .leftpartcon3 .condetail .videotitle .videotitlecon .connectednum {
  color: #4ad184;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
}

.safe .leftpart .leftpartcon3 .condetail .videotitle .videotitlecon .breaknum {
  color: #f90;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
}

.safe .leftpart .leftpartcon3 .condetail .videotitle .devidebar {
  width: 1px;
  height: 40px;
  background: linear-gradient(180deg, rgba(35, 157, 223, 0) 0%, #239ddf 47.53%, rgba(35, 157, 223, 0) 100%);
}

.safe .leftpart .leftpartcon3 .condetail .videocon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.safe .leftpart .leftpartcon3 .condetail .videocon .video {
  width: 180px;
  height: 104px;
  border-radius: 4px;
  border: 1px solid #239ddf;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  margin-top: 11px;
}

.safe .leftpart .leftclosebutton {
  position: absolute;
  left: 400px;
  top: 464px;
  width: 14px;
  height: 80px;
  background: url(../images/leftpartbuttonback.png);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.safe .leftclosed {
  position: absolute;
  left: -400px;
  transition: all 0.2s;
}

.safe .leftclosed .leftclosebutton img {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Safari and Chrome */
}

.safe .rightpart {
  position: absolute;
  right: 0px;
  top: 73px;
  width: 400px;
  height: 1007px;
  background: linear-gradient(90deg, #071744 0%, rgba(7, 23, 68, 0) 100%), linear-gradient(180deg, #708ce0 0%, rgba(0, 26, 102, 0.5) 100%);
  backdrop-filter: blur(2.5px);
}

.safe .rightpart .rightpartcon1 {
  height: 361px;
}

.safe .rightpart .rightpartcon1 .contitle {
  position: relative;
}

.safe .rightpart .rightpartcon1 .contitle .contitright {
  position: absolute;
  right: 0;
  display: flex;
}

.safe .rightpart .rightpartcon1 .contitle .contitright .contitrb {
  border-radius: 2px;
  border: 1px solid #239ddf;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  padding-top: 7px;
  padding-left: 8px;
  padding-bottom: 4px;
  background: transparent;
  outline: none;
}

.safe .rightpart .rightpartcon1 .contitle .contitright .contitrb option {
  background: #081844;
}

.safe .rightpart .rightpartcon1 .contitle .contitright .showmap {
  margin-left: 15px;
  margin-right: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 6px;
}

.safe .rightpart .rightpartcon1 .contitle .contitright .showmap img {
  margin-bottom: -7px;
  margin-right: 14px;
}

.safe .rightpart .rightpartcon1 .condetail {
  margin-top: 15px;
  padding-left: 25px;
}

.safe .rightpart .rightpartcon1 .condetail .state {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}

.safe .rightpart .rightpartcon1 .condetail .state .usual {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #4ad184;
  background: rgba(74, 209, 132, 0.5);
  display: inline;
}

.safe .rightpart .rightpartcon1 .condetail .state .warning {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #d59900;
  background: rgba(212, 153, 0, 0.5);
  display: inline;
  margin-left: 8px;
}

.safe .rightpart .rightpartcon1 .condetail .state .danger {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #ff3d00;
  background: rgba(255, 61, 0, 0.5);
  display: inline;
  margin-left: 8px;
}

.safe .rightpart .rightpartcon1 .condetail .state .sortbutton {
  position: absolute;
  right: 0;
  top: 8px;
  margin-right: 13px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  display: flex;
}

.safe .rightpart .rightpartcon1 .condetail .state .sortbutton .sortimg {
  padding-left: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.safe .rightpart .rightpartcon1 .condetail .itemstate {
  margin-top: 13px;
  width: 350px;
  height: 53px;
  background: linear-gradient(90deg, #11618d 0%, rgba(9, 33, 77, 0) 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.safe .rightpart .rightpartcon1 .condetail .itemstate .iteminfo {
  margin-left: 12px;
}

.safe .rightpart .rightpartcon1 .condetail .itemstate .bar {
  width: 2px;
  height: 53px;
}

.safe .rightpart .rightpartcon1 .condetail .itemstate .usualbar {
  background: #4ad184;
}

.safe .rightpart .rightpartcon1 .condetail .itemstate .warningbar {
  background: #d59900;
}

.safe .rightpart .rightpartcon1 .condetail .itemstate .dangerbar {
  background: #ff3d00;
}

.safe .rightpart .rightpartcon1 .condetail .itemstate .itemname {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.4px;
}

.safe .rightpart .rightpartcon1 .condetail .itemstate .statedet {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
  padding-top: 4px;
  display: flex;
}

.safe .rightpart .rightpartcon1 .condetail .itemstate .statedet .sd {
  width: 110px;
}

.safe .rightpart .rightpartcon1 .condetail .itemstate .statedet .sd .usualdata {
  color: #4ad184;
}

.safe .rightpart .rightpartcon1 .condetail .itemstate .statedet .sd .warningdata {
  color: #d59900;
}

.safe .rightpart .rightpartcon1 .condetail .itemstate .statedet .sd .dangerdata {
  color: #ff3d00;
}

.safe .rightpart .rightpartcon2 {
  height: 280px;
}

.safe .rightpart .rightpartcon2 .condetail {
  padding-top: 20px;
}

.safe .rightpart .rightpartcon2 .condetail .condets {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.safe .rightpart .rightpartcon2 .condetail .condets .condetitem {
  width: 96px;
  height: 96px;
  padding-left: 12px;
}

.safe .rightpart .rightpartcon2 .condetail .condets .condetitem .itemimg {
  width: 24px;
  height: 24px;
  padding-top: 9px;
}

.safe .rightpart .rightpartcon2 .condetail .condets .condetitem .itemtext {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
  padding-top: 8px;
}

.safe .rightpart .rightpartcon2 .condetail .condets .condetitem .itemdata {
  color: #f90;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

.safe .rightpart .rightpartcon3 {
  height: 366px;
}

.safe .rightpart .rightpartcon3 .condetail .condets {
  padding-top: 18px;
  display: flex;
}

.safe .rightpart .rightpartcon3 .condetail .condets .finished {
  width: 92px;
  height: 92px;
  background: url(../images/circle.png) no-repeat center top;
  margin-left: 23px;
}

.safe .rightpart .rightpartcon3 .condetail .condets .finished .plan {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
}

.safe .rightpart .rightpartcon3 .condetail .condets .finished .plan1 {
  padding-top: 13px;
}

.safe .rightpart .rightpartcon3 .condetail .condets .finished .rate {
  color: #4ad184;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 3px;
}

.safe .rightpart .rightpartcon3 .condetail .condets .dividedbar {
  width: 1px;
  height: 97px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 51.56%, rgba(255, 255, 255, 0) 100%);
  margin-left: 22px;
}

.safe .rightpart .rightpartcon3 .condetail .condets .todos {
  margin-left: 22px;
  padding-top: 15px;
}

.safe .rightpart .rightpartcon3 .condetail .condets .todos .todostext {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
}

.safe .rightpart .rightpartcon3 .condetail .condets .todos .todosdata {
  color: #4ad184;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  padding-top: 4px;
}

.safe .rightpart .rightpartcon3 .condetail .condets .tddet {
  margin-left: 35px;
  padding-top: 15px;
}

.safe .rightpart .rightpartcon3 .condetail .condets .tddet .tddettext {
  padding-bottom: 6px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.safe .rightpart .rightpartcon3 .condetail .condets .tddet .tddettext span {
  color: #4ad184;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.safe .rightpart .rightpartcon3 .condetail .contabletitle {
  padding-top: 19px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.safe .rightpart .rightpartcon3 .condetail .contabletitle .bar {
  width: 2px;
  height: 14px;
  background: #4ad184;
  margin-left: 19px;
}

.safe .rightpart .rightpartcon3 .condetail .contabletitle .titletext {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  padding-left: 4px;
}

.safe .rightpart .rightpartcon3 .condetail .tablecon {
  margin-top: 8px;
  margin-left: 12px;
}

.safe .rightpart .rightpartcon3 .condetail .tablecon .row {
  width: 379px;
  display: flex;
}

.safe .rightpart .rightpartcon3 .condetail .tablecon .row .c1 {
  width: 127px;
  padding-left: 8px;
}

.safe .rightpart .rightpartcon3 .condetail .tablecon .row .c2 {
  width: 63px;
}

.safe .rightpart .rightpartcon3 .condetail .tablecon .r1 {
  border-radius: 4px;
  background: linear-gradient(91deg, #013a87 0%, #015280 100%);
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.2px;
  padding-top: 2px;
  padding-bottom: 5px;
}

.safe .rightpart .rightpartcon3 .condetail .tablecon .r2 {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.2px;
  padding-top: 10px;
  padding-bottom: 13px;
}

.safe .rightpart .rightpartcon3 .condetail .tablecon .r3 {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.2px;
  padding-top: 2px;
  padding-bottom: 5px;
  width: 379px;
  border-radius: 4px;
  background: #014285;
}

.safe .rightpart .rightpartcon3 .condetail .tablecon .r4 {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.2px;
  padding-top: 10px;
}

.safe .rightpart .rightclosebutton {
  position: absolute;
  right: 400px;
  top: 464px;
  width: 14px;
  height: 80px;
  background: url(../images/rightbuttonback.png);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.safe .rightclosed {
  position: absolute;
  right: -400px;
  transition: all 0.2s;
}

.safe .rightclosed .rightclosebutton img {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Safari and Chrome */
}

.safe .partconten .contitle {
  width: 397px;
  height: 40px;
  background: linear-gradient(90deg, #11618d 0%, rgba(9, 33, 77, 0) 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.safe .partconten .contitle .contitblock {
  width: 12px;
  height: 40px;
  background: #239cdf;
}

.safe .partconten .contitle .contittext {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2.4px;
  padding-left: 12px;
}

.safe .centerpart {
  width: 516px;
  height: 105px;
  border-radius: 12px;
  background: rgba(7, 23, 68, 0.6);
  position: absolute;
  left: 702px;
  top: 97px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.safe .centerpart .centercon {
  width: 50%;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
}

.safe .centerpart .centercon .centercontext {
  padding-left: 26px;
}

.safe .centerpart .centercon .centercontext .cencontext1 {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.4px;
}

.safe .centerpart .centercon .centercontext .cencontext2 {
  color: #34ceff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2.4px;
  padding-top: 7px;
}
